html,
body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #0f111a;
	color: #8f93a2;
	line-height: 150%;
}

@page {
	background-color: #0f111a;
	margin-top: 4em;
	counter-increment: page;
}

@page {
	@bottom-right {
		content: counter(page);
	}
	@bottom-left {
		content: 'ShadowShahriar';
	}
}

h1,
h2,
h3,
th {
	color: #80cbc4;
}

h1 {
	color: #747888;
	font-size: 1.5em;
	margin-top: 2em;
	text-align: center;
}

h1:first-of-type {
	margin-top: 0em;
}

h2 {
	font-size: 1em;
	margin-top: 1.5em;
}

h3 {
	font-size: 1em;
}

h2,
h3 {
	line-height: 140%;
}

h3 {
	text-decoration: underline;
}

table {
	border-collapse: collapse;
	border-radius: 10px;
}

table,
th,
td {
	border: 1px solid #4b526d;
}

th,
td {
	text-align: left;
	padding: 1em;
}

pre,
code {
	font-family: 'Courier New', Courier, monospace;
	background-color: #121620;
}

pre {
	border-radius: 10px;
	padding: 1em 1em;
}

p > code {
	color: #80cbc4;
	background-color: #090b10;
	padding: 0.4em 0.4em;
	border-radius: 8px;
}

pre > code {
	word-break: normal;
	white-space: pre;
	background: transparent;
}

a,
a:hover,
a:visited {
	color: #8f93a2;
	text-decoration: underline;
}

a,
li {
	line-height: 150%;
}
